.articles-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  margin-top: 20px;
  direction: rtl;
}
@media (max-width: 768px) {
  .articles-content {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}
.articles-content > div {
  background-color: rgba(217, 217, 217, 1);
  min-height: 300px;
  border-radius: 15px;
  padding: 25px;
}